@import url(./variable.css);

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6B7280;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/src/assets/images/drop-down.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}