/* utilities */
@import url('./font.css');
@import url('./form.css');
@import url('./utilities.css');
@import url('./variable.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--base-font-family);
}

@media (max-width: 1000px) {

}