:root {
    primary: #000;
    accent-color: #6B7280;
    border-radius: 6px;
    base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    heading-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   